In [1]:
import pandas as pd
from pylab import *

In [2]:
df = pd.read_csv('data.csv')
df

,Name,Sex,Equipment,Age,AgeClass,BodyweightKg,WeightClassKg,Squat1Kg,Squat2Kg,Squat3Kg,...,Deadlift3Kg,Deadlift4Kg,Best3DeadliftKg,TotalKg,Place,Wilks,McCulloch,Glossbrenner,Tested,Date
0,Abbie Murphy,F,Wraps,29.0,24-34,59.8,63,80.0,92.5,105.0,...,130.0,NaN,130.0,290.0,4,324.16,324.16,286.42,NaN,2019-04-06
1,Abbie Tuong,F,Wraps,29.0,24-34,58.5,63,100.0,110.0,120.0,...,145.0,NaN,145.0,332.5,2,378.07,378.07,334.16,NaN,2019-04-06
2,Ainslee Hooper,F,Raw,40.0,40-44,55.4,57,NaN,NaN,NaN,...,NaN,NaN,NaN,32.5,1,38.56,38.56,34.12,NaN,2019-04-06
3,Amy Moldenhauer,F,Wraps,23.0,20-23,60.0,63,-105.0,-105.0,105.0,...,-140.0,NaN,132.5,310.0,3,345.61,345.61,305.37,NaN,2019-04-06
4,Andrea Rowan,F,Wraps,45.0,45-49,104.0,84+,120.0,130.0,140.0,...,170.0,NaN,170.0,390.0,3,321.25,338.91,274.56,NaN,2019-04-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609840,Adam Jasiński,M,Raw,65.5,65-69,78.0,83,195.0,202.5,215.0,...,-212.5,NaN,207.5,537.5,2,372.98,552.01,360.48,Yes,2011-10-15
609841,Włodzimierz Żmijewski,M,Raw,67.5,65-69,72.7,74,185.0,195.0,200.0,...,-250.5,NaN,235.0,505.0,3,367.91,567.68,356.14,Yes,2011-10-15
609842,Marian Cafalik,M,Raw,60.5,60-64,73.5,74,160.0,170.0,175.0,...,-195.0,NaN,190.0,452.5,4,327.07,438.27,316.52,Yes,2011-10-15
609843,Marian Piwowarczyk,M,Raw,55.5,55-59,63.5,66,90.0,100.0,110.0,...,170.0,NaN,170.0,375.0,5,304.16,372.60,295.66,Yes,2011-10-15
609844,Andrzej Bryniarski,M,Raw,62.5,60-64,94.4,105,140.0,150.0,160.0,...,180.0,NaN,180.0,440.0,6,274.48,382.36,264.22,Yes,2011-10-15

In [3]:
# Drop unwanted columns
data = df.drop(columns=['Name','Equipment','Age','BodyweightKg','Squat1Kg','Squat2Kg','Squat3Kg','Squat4Kg',
                        'Bench1Kg','Bench2Kg','Bench3Kg','Bench4Kg',
                        'Deadlift1Kg','Deadlift2Kg','Deadlift3Kg','Deadlift4Kg',
                        'TotalKg','Place','Wilks','McCulloch','Glossbrenner','Tested','Date'])
data

       Sex AgeClass WeightClassKg  Best3SquatKg  Best3BenchKg  Best3DeadliftKg
0        F    24-34            63         105.0          55.0            130.0
1        F    24-34            63         120.0          67.5            145.0
2        F    40-44            57           NaN          32.5              NaN
3        F    20-23            63         105.0          72.5            132.5
4        F    45-49           84+         140.0          80.0            170.0
...     ..      ...           ...           ...           ...              ...
609840   M    65-69            83         215.0         115.0            207.5
609841   M    65-69            74         200.0          70.0            235.0
609842   M    60-64            74         175.0          87.5            190.0
609843   M    55-59            66         110.0          95.0            170.0
609844   M    60-64           105         160.0         100.0            180.0

[609845 rows x 6 columns]

In [4]:
# Dropping lifters with negative Best values (arises from people placing DQ)
data.drop(data[data['Best3SquatKg']< 0].index, inplace=True)
data.drop(data[data['Best3BenchKg']< 0].index, inplace=True)
data.drop(data[data['Best3DeadliftKg']< 0].index, inplace=True)
# Dropping lifters who have any missing Best values
data.dropna(subset=['Best3SquatKg','Best3BenchKg','Best3DeadliftKg'], inplace=True)

In [5]:
data.isnull().sum()

Sex                0
AgeClass           0
WeightClassKg      0
Best3SquatKg       0
Best3BenchKg       0
Best3DeadliftKg    0
dtype: int64

In [6]:
data.min()

Sex                    F
AgeClass           18-19
WeightClassKg        105
Best3SquatKg        11.3
Best3BenchKg        9.07
Best3DeadliftKg     18.1
dtype: object

In [7]:
data.max()

Sex                     M
AgeClass           80-999
WeightClassKg          93
Best3SquatKg          575
Best3BenchKg       455.86
Best3DeadliftKg     457.5
dtype: object

In [8]:
data.median()

Best3SquatKg       190.0
Best3BenchKg       125.0
Best3DeadliftKg    215.0
dtype: float64

In [9]:
# Discretising each Best Kg column
S_conditions = [data['Best3SquatKg'] < 100,
                data['Best3SquatKg'] < 190,
                data['Best3SquatKg'] < 380,
                data['Best3SquatKg'] >=380]
S_choices = ['0to99','100to189','190to379','380+']
data['Best3SquatKg'] = np.select(S_conditions, S_choices, default='380+')

B_conditions = [data['Best3BenchKg'] < 70,
                data['Best3BenchKg'] < 125,
                data['Best3BenchKg'] < 280,
                data['Best3BenchKg'] >=280,]
B_choices = ['0to69','70to124','125to279','280+']
data['Best3BenchKg'] = np.select(B_conditions, B_choices, default='280+')

D_conditions = [data['Best3DeadliftKg'] < 120,
                data['Best3DeadliftKg'] < 215,
                data['Best3DeadliftKg'] < 340,
                data['Best3DeadliftKg'] >=340]
D_choices = ['0to119','120to214','215to339','340+']
data['Best3DeadliftKg'] = np.select(D_conditions, D_choices, default='340+')

In [10]:
data.to_csv('trainingData.csv', index=False)